example/tictactoe/tictactoe_egg.dtd

<!ELEMENT tictactoe (skink,grub)>

<!ELEMENT skink (board)>
<!ELEMENT board (row, row, row)>
<!ELEMENT row (cell, cell, cell)>
<!ELEMENT cell (#PCDATA)>
<!ATTLIST cell id (A1|A2|A3|B1|B2|B3|C1|C2|C3) #REQUIRED>
<!ATTLIST cell player (X|O|open) #REQUIRED>

<!ELEMENT grub (move)>
<!ELEMENT move (player, position)>
<!ELEMENT player (#PCDATA)>
<!ELEMENT position (#PCDATA)>
<!ATTLIST player fill_regex CDATA "/^[XO]$/">
<!ATTLIST position fill_regex CDATA "/^[ABC][123]$/">
